:root {
  --body-bg: #ffffff;
  --titles-font-family: 'Roboto', sans-serif;
  --titles-color: #2e2f42;
  --text-font-family: 'Roboto', sans-serif;
  --text-color: #434455;
  --anamation-pattern: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* ========== Colors ========== */
  --color-brand: #4d5ae5;
  --color-dark: #2e2f42;
  --color-white: #ffffff;
  --color-light: #f4f4fd;
  --color-active: #404bbf;
  --color-accent: #e7e9fc;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-dairy: #fcfcfc;
}


/* ========== General ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--text-font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.title {
  font-family: var(--titles-font-family);
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  text-transform: capitalize;
}

.page-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-white);
}

.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
}

.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--color-white);
  background-color: var(--color-brand);
  transition: background-color var(--anamation-pattern);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--color-active);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-brand);
}

.logo .gray {
  color: var(--titles-color);
}

.logo .white {
  color: var(--color-light);
}

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}


/* ========== Header ========== */
.main-header {
  padding: 24px 0;
  border-bottom: 1px solid var(--color-accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.main-nav .list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition: color var(--anamation-pattern);
}

.nav-link::after {
  content: '';
  display: none;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-active);
}

.nav-link:hover::after,
.active.nav-link::after {
  display: block;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link.active {
  color: var(--color-active);
}

.contacts {
  font-style: normal;
  color: var(--text-color)
}

.contacts .list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--text-color);
  transition: color var(--anamation-pattern);
}

.contacts-link:hover,
.contacts-link:active,
.contacts-link:focus {
  color: var(--color-active);
}


/* ========== Footer ========== */
.footer {
  padding: 100px 0;
  background-color: var(--color-dark);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .text {
  max-width: 264px;
  letter-spacing: 0.02em;
  color: var(--color-light);
}

.footer-media {
  margin-right: 80px;
  color: var(--color-white);
}

.footer-media-title {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.footer-media-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-brand);
  transition:background-color var(--anamation-pattern);
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--color-green);
}

.footer-media-icon {
  fill: var(--color-light);
}

.subscribe-form-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  color: var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: border-color var(--animation-pattern);
}

.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  color: var(--color-white);
}

.subscribe-form-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
}

.subscribe-form-button-icon {
  margin-left: 16px;
}


/* ========== Modal ========== */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--anamation-pattern), visibility var(--anamation-pattern);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--anamation-pattern);
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: var(--color-accent);
  transition: background-color var(--anamation-pattern),
    border var(--anamation-pattern);
}

.modal-close-button:hover,
.modal-close-button:focus {
  border: none;
  background-color: var(--color-active);
}

.modal-close-icon {
  transition: fill var(--anamation-pattern);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--color-white);
}

.modal-description {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
    color: var(--color-dark);
}

.contacts-form-input-group {
  display: block;
  margin-bottom: 8px;
}

.contacts-form-input-wrapper {
  display: block;
  position: relative;
}

.contacts-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-textarea-group {
  display: block;
  margin-bottom: 16px;
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.contacts-form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.contacts-form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.contacts-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.40);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.contacts-form-input:focus+.contacts-form-input-icon,
.contacts-form-textarea:focus+.contacts-form-input-icon {
  fill: var(--color-brand);
}

.contacts-form-input:focus,
.contacts-form-textarea:focus {
  border-color: var(--color-brand);
}

.contacts-form-checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.contacts-form-custom-checkbox-icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  fill: transparent;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox {
  position: absolute;
  appearance: none;
}

.contacts-form-checkbox-label {
  color: var(--color-light-slate);
}

.contacts-form-checkbox:checked+label>.contacts-form-custom-checkbox-icon-wrapper {
  border: none;
  fill: var(--color-light);
  background-color: var(--color-active);
}

.contacts-form-checkbox:focus+label .contacts-form-custom-checkbox-icon-wrapper {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.contacts-form-privacy-policy-link {
  color: var(--color-brand);
}

.contacts-form-submit-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ========== Hero Section ========== */
.hero-section {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, .7), rgba(46, 47, 66, .7)),
    url('../images/hero-section/hero-section-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section .page-title {
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-section .btn-primary {
  margin: 0 auto; 
}


/* ========== Features Section ========== */
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.features-item .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--color-light);
}

.features-title {
  margin-bottom: 8px;
}

.feature-description {
  letter-spacing: 0.02em;
}


/* ========== What Are We Doing Section ========== */
.products-section {
  padding-bottom: 120px;
}

.products-section-title {
  margin-bottom: 72px;
}

.products-list {
  display: flex;
  gap: 24px;
}

.products-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}


/* ========== Our Team Section ========== */
.our-team-section {
  background-color: var(--color-light);
}

.our-team-section-title {
  margin-bottom: 72px;
}

.our-team-section-list {
  display: flex;
  gap: 24px;
}

.our-team-section-list-item {
  flex-basis: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-section .text-wrapper {
  padding: 32px 0;
}

.our-team-section-name {
  margin-bottom: 8px;
  text-align: center;
}

.our-team-section-position {
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.02em;
}

.our-team-social-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 16px;
}

.our-team-social-links-item {
  width: 40px;
  height: 40px;
}

.our-team-social-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-brand);
  transition: background-color var(--anamation-pattern);
}

.our-team-social-links-link:hover,
.our-team-social-links-link:focus {
  background-color: var(--color-active);
}

.our-team-social-links-link {
  fill: var(--color-light);
}


/* ========== Customers Section ========== */
.cutomers-section-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list-item {
  flex-basis: calc((100% - 24px * 5) / 6);
  height: 88px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: var(--color-light-slate);
  border: 1px solid var(--color-light-slate);
  transition: border-color var(--anamation-pattern),
  color var(--anamation-pattern);
}

.customers-list-icon {
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--color-active);
  border-color: var(--color-active);
}


/* ========== Portfolio ========== */
.portfolio-section {
  padding: 96px 0 120px 0;
}

.filter-controls {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto 72px;
}

.filter-button {
  padding: 12px 24px;
  color: var(--color-brand);
  background-color: var(--color-light);
  border: 1px solid var(--color-accent);
  transition: color var(--anamation-pattern),
    background-color var(--anamation-pattern),
    border-color var(--anamation-pattern),
    box-shadow var(--anamation-pattern);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--color-white);
  background-color: var(--color-active);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

.portfolio-item-link {
  display: block;
  transition: box-shadow var(--anamation-pattern);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item .image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-item .shade-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--color-light);
  background-color: var(--color-brand);
  transform: translateY(100%);
  transition: transform var(--anamation-pattern);
}

.portfolio-item-link:hover .shade-text,
.portfolio-item-link:focus .shade-text {
  transform: translateY(0);
}

.portfolio-item .text-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titles-color);
}

.portfolio-category {
  letter-spacing: 0.02em;
  color: var(--text-color);
}