.features-list {
  display: flex;
}

.features-item .image-container {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--color-light);
}

.features-title {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

.features-description {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .features-list {
    display: block;
  }

  .features-item {
    margin-bottom: 72px;
  }

  .features-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .features-list {
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .features-item .image-container {
    display: flex;
  }

  .features-title {
    font-size: 20px;
  }

  .features-description {
    font-weight: 400;
  }
}