.hero-section {
  padding: 112px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section-title {
  margin: 0 auto;
}

.hero-section-btn {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .hero-section {
    max-width: 428px;
    background-image:
      linear-gradient(rgba(46, 47, 66, .7), rgba(46, 47, 66, .7)),
      url('../../../images/hero-section/hero-section-bg-mobile.jpg');
  }

  .hero-section-title {
    margin-bottom: 72px;
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-section {
    max-width: 768px;
    background-image:
      linear-gradient(rgba(46, 47, 66, .7), rgba(46, 47, 66, .7)),
      url('../../../images/hero-section/hero-section-bg-tablet.jpg');
  }

  .hero-section-title {
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, .7), rgba(46, 47, 66, .7)),
      url('../../../images/hero-section/hero-section-bg-desktop.jpg');
  }

  .hero-section-title {
    max-width: 496px;
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 767px),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, .7), rgba(46, 47, 66, .7)),
      url('../../../images/hero-section/hero-section-bg-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, .7), rgba(46, 47, 66, .7)),
      url('../../../images/hero-section/hero-section-bg-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, .7), rgba(46, 47, 66, .7)),
      url('../../../images/hero-section/hero-section-bg-desktop@2x.jpg');
  }
}